<!--begin::Aside-->
<div id="kt_aside" class="aside card" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid px-4">
        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y my-5 pe-4 me-n4" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_footer', lg: '#kt_header, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="{default: '5px', lg: '75px'}">
            <!--begin::Menu-->
            <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_aside_menu" data-kt-menu="true">
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link active" href="/">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 2.375L2 9.575V20.575C2 21.175 2.4 21.575 3 21.575H9C9.6 21.575 10 21.175 10 20.575V14.575C10 13.975 10.4 13.575 11 13.575H13C13.6 13.575 14 13.975 14 14.575V20.575C14 21.175 14.4 21.575 15 21.575H21C21.6 21.575 22 21.175 22 20.575V9.575L13 2.375C12.4 1.875 11.6 1.875 11 2.375Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Home</span>
                    </a>
                    <!--end:Menu link-->
                    <!--begin:Menu link-->
                    <a class="menu-link " asp-controller="Schedule" asp-action="Index"  active-when="Schedule">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                            <span class="svg-icon svg-icon-2" >
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="1.70666in" height="1.70666in" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1707 1707">
                                     <defs>
                                      <style type="text/css">
                                       <![CDATA[
                                        .fil5 {fill:#257EC7}
                                        .fil4 {fill:#298CDD}
                                        .fil3 {fill:#2E9CF5}
                                        .fil0 {fill:#333333}
                                        .fil2 {fill:#CCA279}
                                        .fil7 {fill:#DF5A49}
                                        .fil1 {fill:#E3B486}
                                        .fil6 {fill:#FBFBFB}
                                       ]]>
                                      </style>
                                     </defs>
                                     <g id="Layer_x0020_1">
                                      <metadata id="CorelCorpID_0Corel-Layer"/>
                                      <path class="fil0" d="M413 1087c-50,-138 -133,-633 40,-777 50,-42 104,-116 113,-128 92,-167 244,-223 405,-150 141,64 269,215 343,406 83,214 86,447 11,656 -27,73 -905,14 -912,-7z" fill="currentColor"  />
                                      <path class="fil1" d="M1118 1109c-151,0 -362,0 -529,0 -9,0 -17,-3 -25,-9 -17,-13 -20,-38 -6,-56l137 -175c13,-17 39,-20 56,-6 17,13 20,38 7,56l-20 25c34,15 71,23 109,23 42,0 82,-9 119,-27l0 0 -21 -27c-14,-17 -11,-42 7,-56 17,-13 42,-10 56,7l141 180c14,18 11,43 -7,56 -7,6 -16,9 -24,9z" fill="currentColor"  />
                                      <path class="fil2" d="M652 924l33 -42c21,16 44,30 70,41l-17 21c34,15 71,23 109,23 42,0 82,-9 119,-27l0 0 -17 -22c24,-11 47,-25 67,-43l33 42c-32,27 -69,49 -109,62 -22,7 -44,12 -67,14l0 1 -53 0 0 -1c-22,-2 -45,-7 -66,-14 -37,-12 -72,-31 -102,-55z" fill="currentColor"  />
                                      <g id="_291369152">
                                       <path class="fil3" d="M1503 1706l-1300 0c-22,0 -40,-18 -40,-40l0 -299c0,-186 152,-338 339,-338l702 0c187,0 339,152 339,338l0 299c0,22 -18,40 -40,40z" fill="currentColor" />
                                       <path class="fil4" d="M1075 1265l0 0 0 0 0 0 0 0c0,-1 0,-1 0,-1l0 -1 0 0 65 -145 14 -33 1 -2 24 -54 -289 652c-2,5 -5,10 -8,14l-1 0 0 0 0 1 -1 0 0 0 -1 1 0 0 0 0c-1,1 -1,1 -2,1l0 0 0 0 0 1 0 0 -1 0 0 1 0 0c-3,2 -7,3 -10,4l0 0 -1 1 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 1 -1 0 0 0 0 0 0 0 0 0c-2,0 -4,0 -7,0 -5,0 -11,-1 -16,-3 -10,-4 -17,-12 -21,-22l-289 -652 -25 0 0 0c-19,0 -36,13 -39,32l-34 182c-2,14 3,28 13,37l318 274 -128 -289 0 0 0 0 0 0 0 0c0,-1 0,-1 -1,-1l0 -1 0 0 -64 -145 -15 -33 0 -2 -25 -54 88 0 238 538 239 -538 87 0 25 0 0 0c19,0 36,13 40,32l33 182c3,14 -2,28 -13,37l-317 274 128 -289z" fill="currentColor"/>
                                       <polygon class="fil5" points="586,1029 615,1029 853,1567 1092,1029 1121,1029 853,1633 805,1524 678,1237 678,1237 "/>
                                       <path class="fil6" d="M633 1266l-1 0 0 -1 0 0 0 0 0 0 0 0c0,-1 0,-1 -1,-1l0 -1 0 0 0 0 0 0 2 3zm459 -237l-477 0 34 76 47 107 1 2 0 0 133 300 0 0 0 0 0 0 0 0 0 0 0 0 23 53 118 -265 39 -88 0 -2 43 -96 39 -87zm-16 234l-1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -1 1 2 -3z" fill="currentColor"/>
                                       <path class="fil7" d="M758 1352l12 -135 -32 -36c-13,-14 -12,-36 2,-50l97 -93c14,-13 36,-12 50,0l97 93c14,14 15,36 2,50l-32 36 10 101 -111 249 -95 -215z" fill="currentColor"/>
                                      </g>
                                      <g>
                                       <path class="fil1" d="M847 967c-182,0 -330,-182 -330,-406 0,-19 1,-37 3,-55 168,-115 376,-185 573,-216 53,74 84,170 84,271 0,224 -148,406 -330,406l0 0zm-103 -109c1,1 3,2 4,3 -1,-1 -3,-2 -4,-3zm209 -2c1,-1 3,-2 4,-3 -1,1 -3,2 -4,3z" fill="currentColor"/>
                                      </g>
                                     </g>
                                    </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Secretary</span>
                    </a>
                    <!--end:Menu link-->
                    <!--begin:Menu link-->
                    <a class="menu-link" asp-controller="Doctor" asp-action="Index" active-when="Doctor">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                            <span class="svg-icon svg-icon-2">
                                                               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <path style="fill:#F2F2F2;" d="M512,434.016v77.013H0v-77.013c0-20.373,12.48-38.731,31.456-46.08l107.957-42.453l84.267,92.597  l26.443-53.867v-0.107L256,372.043l5.984,12.064l26.453,53.973l84.149-92.597l108.064,42.453  C499.52,395.403,512,413.643,512,434.016"/>
                                    <path style="fill:#F8B64C;" d="M331.52,329.483h0.107v-43.84c-5.6,8.491-12.107,17.109-19.669,25.728l-10.453,11.52  c-9.6,10.443-23.253,16.533-37.44,16.533h-16c-14.187,0-27.851-6.08-37.44-16.533l-10.453-11.52  c-7.648-8.693-14.229-17.429-19.851-26.005v44.043l0.171,0.085l65.813,37.12l9.707,5.44l9.707-5.44L331.52,329.483z"/>
                                    <g style="opacity:0.1;">
	                                    <g>
		                                    <path style="fill:#40596B;" d="M229.024,335.52c-0.064-0.021-0.128-0.043-0.192-0.064c-0.107-0.043-0.224-0.075-0.331-0.107    c-0.107-0.053-0.224-0.064-0.373-0.117l40.224,29.877l63.168-35.627h0.064l0.043-43.616c-0.107,0.16-14.997,19.669-19.669,25.483    l-10.453,11.531c-9.6,10.443-23.253,16.533-37.44,16.533h-16c-3.232,0-6.4-0.352-9.504-1.013    C235.275,337.771,232.107,336.789,229.024,335.52"/>
	                                    </g>
                                    </g>
                                    <g>
	                                    <path style="fill:#F8B64C;" d="M181.141,196.309c1.664,19.147-7.627,35.605-20.747,36.736   c-13.141,1.152-25.141-13.451-26.837-32.597c-1.664-19.147,7.627-35.584,20.768-36.736   C167.456,162.56,179.477,177.152,181.141,196.309"/>
	                                    <path style="fill:#F8B64C;" d="M378.539,200.469c-1.664,19.147-13.685,33.739-26.816,32.587   c-13.141-1.152-22.443-17.589-20.747-36.736c1.664-19.147,13.685-33.749,26.816-32.597   C370.933,164.853,380.224,181.312,378.539,200.469"/>
                                    </g>
                                    <path style="fill:#FFD15C;" d="M364.853,196.373c-2.016,21.44-12.171,68.683-52.896,114.976l-10.453,11.52  c-9.6,10.453-23.253,16.544-37.44,16.544h-16c-14.187,0-27.851-6.08-37.44-16.544l-10.453-11.52  c-40.747-46.293-50.773-93.547-52.917-114.976c-2.88-29.547-1.707-67.093,0-76.8c9.707-56.853,58.357-92.16,108.811-92.16  c50.443,0,99.083,35.307,108.789,92.16C366.56,129.28,367.733,166.837,364.853,196.373"/>
                                    <path style="fill:#40596B;" d="M172.896,54.368c0,0,0.747-71.819,105.163-48.875c0,0,51.808,16.277,85.141,64.427  c0,0,31.275,45.419,14.272,83.627c-5.525,12.405-11.456,26.603-10.773,38.005c0,0-5.792-24.203-9.248-44.373  c-2.891-16.896-10.165-32.725-21.333-45.717l-0.331-0.395c-18.08-20.939-46.379-30.731-73.141-23.829  c-12.768,3.296-27.296,9.728-43.275,21.131c0,0-43.499-29.195-65.003,21.909c0,0-9.579,37.355-8.224,66.859  C146.144,187.125,86.272,61.771,172.896,54.368"/>
                                    <path style="fill:#ACB3BA;" d="M398.603,375.349c-0.213-1.813-0.629-18.443-4.043-25.163c-5.771-11.317-16.107-18.88-28.587-20.8  l-34.347-6.933v7.04h-0.107l-4.917,2.773l37.664,7.68c9.067,1.387,16.651,6.827,20.693,15.029  c2.667,5.227,3.755,10.891,2.891,16.437l-0.224,2.773c-45.12,39.147-57.92,74.453-58.453,76.053  c-3.392,10.133-3.189,18.133,0.544,23.893c4.171,6.507,10.976,7.253,11.829,7.36l1.067-10.667c-0.107,0-2.667-0.437-4.043-2.667  c-1.707-2.784-1.504-7.893,0.747-14.411c0.107-0.224,6.4-17.589,25.6-41.077c5.333-2.667,11.296-3.189,17.067-1.493  c5.547,1.707,10.229,5.451,13.12,10.443c2.123,30.837-2.56,48.971-2.667,49.077c-2.037,6.613-4.811,10.987-7.893,12.16  c-2.453,1.077-4.704-0.107-4.704-0.213l-2.667,4.683l-2.773,4.619c0.437,0.32,3.733,2.133,8.107,2.133  c1.813,0,3.755-0.32,5.771-1.173c6.4-2.443,11.317-8.853,14.496-19.093C403.211,472.213,413.12,434.976,398.603,375.349   M384.437,402.976c-3.211-0.96-6.624-1.376-9.835-1.269c4.608-5.024,9.707-10.133,15.477-15.349  c1.6,7.456,2.773,14.603,3.627,21.333C390.933,405.643,387.829,404.053,384.437,402.976"/>
                                    <g>
	                                    <path style="fill:#F8B64C;" d="M350.933,478.037c-0.853,4.288-5.024,7.083-9.312,6.24c-4.267-0.843-1.227-16.384,3.061-15.541   C348.971,469.579,351.776,473.749,350.933,478.037"/>
	                                    <path style="fill:#F8B64C;" d="M368.224,483.371c-1.813,3.979-0.085,8.672,3.893,10.496c3.979,1.824,10.581-12.565,6.603-14.4   C374.773,477.643,370.059,479.392,368.224,483.371"/>
                                    </g>
                                    <path style="fill:#ACB3BA;" d="M180.48,329.483l-0.171-0.085v-6.955l-23.061,4.747c-24.608,5.067-45.312,20.768-56.853,43.061  c-11.52,22.315-12.352,48.299-2.251,71.296l9.771-4.288c-8.789-20.032-8.107-42.656,1.963-62.101  c10.037-19.413,28.085-33.099,49.504-37.504l26.059-5.365L180.48,329.483z"/>
                                    <g>
	                                    <polygon style="fill:#CDD6E0;" points="372.587,345.483 293.877,448.736 256,372.043 265.707,366.603 331.52,329.483    331.627,329.483 331.733,329.376  "/>
	                                    <polygon style="fill:#CDD6E0;" points="139.413,345.483 218.251,448.736 256,372.043 246.293,366.603 180.48,329.483    180.267,329.376  "/>
                                    </g>
                                    <polygon style="fill:#334A5E;" points="218.251,511.029 239.787,461.963 230.496,448.309 223.691,438.069 250.123,384.107   256,372.043 261.984,384.107 261.984,384.213 288.437,438.069 281.504,448.213 272.213,461.963 293.877,511.029 "/>
                                    <polygon style="fill:#2A4356;" points="288.437,438.069 281.504,448.213 256.107,396.256 230.496,448.309 223.691,438.069   250.123,384.107 256,372.043 261.984,384.107 261.984,384.213 "/>
                                    <path style="fill:#FF7058;" d="M135.104,458.251c0,13.333-10.837,24.16-24.171,24.16s-24.149-10.827-24.149-24.16  c0-13.333,10.816-24.149,24.149-24.149S135.104,444.917,135.104,458.251"/>
                                    <path style="fill:#F2F2F2;" d="M127.168,458.251c0,8.96-7.253,16.224-16.213,16.224c-8.981,0-16.245-7.275-16.245-16.224  s7.275-16.224,16.245-16.224C119.915,442.027,127.168,449.291,127.168,458.251"/>
                                    <path style="fill:#ACB3BA;" d="M122.315,458.251c0,6.293-5.088,11.371-11.349,11.371c-6.293,0-11.392-5.088-11.392-11.371  c0-6.272,5.109-11.36,11.392-11.36C117.227,446.891,122.315,451.979,122.315,458.251"/>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    </svg>

                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Doctors</span>
                    </a>
                    <!--end:Menu link-->
                      <!--begin:Menu link-->
                    <a class="menu-link" asp-controller="Users" asp-action="Index" active-when="Users">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="currentColor" />
                                    <path d="M12.0006 11.1542C13.1434 11.1542 14.0777 10.22 14.0777 9.0771C14.0777 7.93424 13.1434 7 12.0006 7C10.8577 7 9.92348 7.93424 9.92348 9.0771C9.92348 10.22 10.8577 11.1542 12.0006 11.1542Z" fill="currentColor" />
                                    <path d="M15.5652 13.814C15.5108 13.6779 15.4382 13.551 15.3566 13.4331C14.9393 12.8163 14.2954 12.4081 13.5697 12.3083C13.479 12.2993 13.3793 12.3174 13.3067 12.3718C12.9257 12.653 12.4722 12.7981 12.0006 12.7981C11.5289 12.7981 11.0754 12.653 10.6944 12.3718C10.6219 12.3174 10.5221 12.2902 10.4314 12.3083C9.70578 12.4081 9.05272 12.8163 8.64456 13.4331C8.56293 13.551 8.49036 13.687 8.43595 13.814C8.40875 13.8684 8.41781 13.9319 8.44502 13.9864C8.51759 14.1133 8.60828 14.2403 8.68991 14.3492C8.81689 14.5215 8.95295 14.6757 9.10715 14.8208C9.23413 14.9478 9.37925 15.0657 9.52439 15.1836C10.2409 15.7188 11.1026 15.9999 11.9915 15.9999C12.8804 15.9999 13.7421 15.7188 14.4586 15.1836C14.6038 15.0748 14.7489 14.9478 14.8759 14.8208C15.021 14.6757 15.1661 14.5215 15.2931 14.3492C15.3838 14.2312 15.4655 14.1133 15.538 13.9864C15.5833 13.9319 15.5924 13.8684 15.5652 13.814Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Users</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end::Menu-->
        </div>
    </div>
    <!--end::Aside menu-->
</div>
<!--end::Aside-->